button{
  vertical-align: top;
  transition-duration: 0.1s;
}

button:hover{
  box-shadow: 0 0 7px 1px #fff;
  cursor: pointer
}

#topBarButtonsMain, #topBarButtonsUpgrades, #topBarButtonsOptions{
  background-color:black;
  color:white;
  padding: 10px 28px;
  border-radius: 4px;
  border: 3px solid white;
  margin: 5px;
  font-size: 20px;
  transition-duration: 0.3s;
}

#topBarButtonsMain:hover, #topBarButtonsUpgrades:hover, #topBarButtonsOptions:hover {
  background-color:white;
  color:black;
  border: 3px solid white;
}

#topBarButtonsLights{
  background-color: black;
  color: #0f0;
  padding: 10px 28px;
  border-radius: 4px;
  border: 4px solid #0f0;
  margin: 5px;
  font-size: 20px;
  transition-duration: 0.3s;
}

#topBarButtonsLights:hover{
  background-color: #0f0;
  color: black;
  border-color: #0f0
}

#tabMain button{
  height: 46px;
  background-color: black;
  border-radius: 8px;
  border: 4px solid white;
  display:inline-block;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 20px;
}

#tabUpgrades button{
  background-color:black;
  color:white;
  width:250px;
  height:150px;
  padding: 5px 14px;
  border-radius: 4px;
  border: 3px solid white;
  margin: 5px;
  font-size: 17px;
}

#tabOptions button{
  background-color:black;
  color:white;
  padding: 10px 28px;
  border-radius: 4px;
  border: 3px solid white;
  margin: 5px;
  font-size: 20px;
}
