* {
  font-family: arial;
  font-size: 15px;
  color:white;
}
body{
  margin: 30px;
}

.colorBar{
  width: 50%;
  background-color: grey;
}

.colorBarAmount{
  width: 1%;
  height: 30px;
}

#red-bar-amount{
  background-color: red;
}
