#app{
  margin: 15px;
}

.currency-container {
  display: flex;
}

.red-currency, .green-currency, .blue-currency{
  min-width: 200px;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.color-producer {
  width: 900px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.color-adder-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.color-adder-currency-container{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 150px;
  border: 1px solid black;
}

.color-progress-container{
  width: 500px;
  height: 50px;
  border: 1px solid black;
}

.color-progress{
  display: inline-block;
  height: 100%;
  border: 1px solid black
}

.color-adder-button-container{
  padding: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.color-upgrade-collapsible{
  padding: 0 10px;
}

.color-upgrade-coll-container{
  padding: 0 10px;
  border: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.color-upgrade-container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.color-upgrade{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 25%;
  height: 100px;
  font-size: 10px;
  text-align: center;
  border: 1px solid black;
}
