<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/maingame.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <link rel="icon" href="icon.png">
    <title>Color game</title>
  </head>
  <body style="background-color:black">
    <div id="top-bar">
      <button>Primary</button>
      <button>Settings</button>
    </div>
    <br>


  <div id="playerMain">
    <player-rgb v-for="currency in currencys" :bar="currency.bar" :addsub="currency.addsub" :auto="currency.auto" :key="currency.id"></player-rgb>
    <br>
    <br> <span style="text-decoration: line-through;">1. Make grey out button</span>
    <br> 1.5. Change last 2 automation to prestige when possible (?) Make it upgradable with currencies (?)
    <br> 2. Change Placeholder button to custom button and make upgrades
    <br> Price plan: Additive effect (+1 to production) price increase, 16 => 32 => 64 => 128 (cap) [NEED BALANCE AS NO ONE WILL BUY AT 128!!!!]
    <br> No persist on reset green, persist after 10 green (?)
    <br> Green and Blue needs more feature to keep less boring!!!
    <br> We need upgrades that lets you keep 1 green on prestige (At blue layer)
    <br> Or maybe upgrades that improve CPS of 1st autobuyer
    <br> Or maybe sth that gives everything a multiplier
    <br> 3. Unlock features based on progression (autobuyers, upgrades, next bars)
    <br> 4. Settings, localStorage (?), change the name of tabs
    <br> 5. Hotkey
  </div>






  <script type="text/x-template" id="color-bar-template">
    <div class="color-bar">
      <color-bar-amount :bar="bar"></color-bar-amount>
    </div>
  </script>

  <script type="text/x-template" id="color-bar-amount-template">
    <div class="color-bar-amount" :style="style"><span v-html="text"></span></div>
  </script>


  <script type="text/x-template" id="player-rgb-template">
    <div>
      <color-bar :bar="bar" v-if="bar.seen"></color-bar>
      <button-custom :name="auto"></button-custom>
      <button-custom :name="addsub"></button-custom>
    </div>
  </script>

<script type="text/x-template" id="button-custom-template">
  <button @click="onclick()" v-if="name.seen" :style="name.style">{{name.text}}</button>
</script>
  </body>




  <script type="text/javascript" src="js/libraries/jquery-3.4.1.js"></script>
  <script src="js/libraries/vue.js"></script>
  <script src="js/libraries/custom-functions.js"></script>
  <script src="js/main/color-bars.js"></script>
  <script src="js/components/others/buttons/button-custom.js"></script>
  <script src="js/components/others/color-bar/color-bar.js"></script>
  <script src="js/components/main/tab1/player-rgb.js"></script>
  <script src="js/main/main.js"></script>
</html>
